<h2>Shopify App home page</h2>
<hr>
<button class="btn btn-primary" onclick="create('{{shop}}')">Create Product</button>
<hr>
<button class="btn btn-primary" onclick="view('{{shop}}')">View Products</button>
<script type="text/javascript" src="/javascript/product.js">
</script>